
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: cadetblue;
  padding: 10px;
}

#heading-container {
  text-align: center;
}

.todo-app {
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.main-title {
color: #333;
}

.subheading {
  margin-bottom: 40px;
}

.list {
list-style-type: none;
margin: 0;
padding: 0;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
  border-radius: 5px;
}

.trash-icon {
  content: '';
  position: absolute;
  height: 22px;
  width: 22px;
  background-image: url(images/trash-icon.svg);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
  opacity: 50%;
}

ul li span {
  position: absolute;
   right: 0;
   top: 5px;
   width: 40px;
   height: 40px;
   font-size: 22px;
   color: #555;
   line-height: 40px;
   text-align: center;
}

ul li:hover {
  background: #b6a7cc;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: rgb(147, 9, 147);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

#kanban-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal-width columns */
  gap: 20px; /* Optional: adds space between columns */
  margin-top: 50px;
}

#kanban-container h2 {
  text-align: center;
}

#todo-list li {
  background: #AACCBE;
}

#todo-list li:hover {
  background: #8ba89c;
}

#doing-list li {
  background: #FFD700;
}

#doing-list li:hover {
  background: #d5b501;
}

#done-list li {
  background: #3ac83d;
}

#done-list li:hover {
  background: #2e9f30;
}

#stuck-list li {
  background: #FFA07A;
}

#stuck-list li:hover {
  background: #cf8163;
}

#modal {
  display: none; /* Initially hide the modal */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
  max-width: 600px;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.close:hover {
  cursor: pointer;
}